#page-wraper {
	background: var(--bg-primary);
}

label {
	margin-top: 10px;
	margin-bottom: 5px;
	color: var(--label-primary);
	font-weight: 600;
	font-size: 0.9rem;
}

label i {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	color: var(--divider-primary);
}

button {
	float: right;
	padding: 1rem 2rem;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	text-align: center;
	background: var(--accent-primary);
	border: 1px solid var(--accent-primary);
	border-radius: var(--border-radius);
	transition: all 0.5s;
	cursor: pointer;
}

button:hover {
	background: var(--accent-secondary);
	border: 1px solid var(--accent-secondary);
}

button:disabled {
	background: var(--divider-primary);
	border: 1px solid var(--divider-primary);
}

button:disabled:hover {
	filter: none;
}

.page-auth {
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: var(--bg-primary);
}

.form-wraper {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	background: var(--bg-primary);
}

.form-auth {
	width: 85%;
	max-width: 640px;
	padding: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 50px auto;
	background: var(--bg-primary);
	border: 1px solid var(--divider-primary);
	overflow: hidden;
}

.top-bar {
	float: left;
	width: 100%;
	padding: 15px;
}

.policy-bar {
	float: left;
	width: 100%;
	padding: 30px;
	text-align: center;
	color: var(--divider-primary);
	background: var(--bg-primary);
	border-top: 1px dotted var(--divider-primary);
}

.link-policy {
	color: var(--accent-secondary);
	padding: 5px;
	font-size: 14px;
}

.link-docs {
	color: var(--accent-secondary);
	padding: 5px;
	font-size: 14px;
}

.link-docs:hover {
	color: var(--accent-primary);
}

.full {
	float: left;
	width: 100%;
}

.alert-error {
	float: left;
	width: 100%;
	color: #ff2233;
	background: #ff223311;
	border: 1px solid #ff2233;
	margin-bottom: 10px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 600;
}

.alert-info {
	float: left;
	width: 100%;
	color: #55cc55;
	background: #55cc5511;
	border: 1px solid #55cc55;
	margin-bottom: 10px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 600;
}

.alert-default {
	float: left;
	width: 100%;
	color: #2d4156;
	background: #2d415611;
	border: 1px solid #2d4156;
	margin-bottom: 10px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 600;
}

.link-left {
	float: left;
	padding: 10px;
	width: 50%;
	font-size: 15px;
	text-align: center;
	margin-bottom: 20px;
}

.link-right {
	float: right;
	padding: 10px;
	width: 50%;
	font-size: 15px;
	text-align: center;
	margin-bottom: 20px;
}

.auth-logo {
	content: var(--logo) !important;
}

@media (prefers-color-scheme: dark) {
	.auth-logo {
		content: url('@/assets/images/auth-logo-dark.png') !important;
	}
}

@media (max-width: 1600px) {
	.form-auth {
		max-width: 520px;
	}
}

@media (max-width: 1280px) {
	.form-auth {
		max-width: 480px;
	}
}
