@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
	--font-family: 'Poppins', 'Lexend Deca', Arial, Helvetica, sans-serif;
	--font-size: 14px;
	--border-radius: 10px;
}

:root {
	/* colors */
	--color-1: #e9ad79;
	--color-2: #85b899;
	--color-3: #a685c5;
	--color-4: #b35864;
	--color-5: #3e4589;
	--color-6: #3976bc;
	--color-7: #ff6a48;
	--color-8: #00b2ad;
	--color-9: #021c6d;

	/* soft colors */
	--color-1-soft: #e9ad7922;
	--color-2-soft: #85b89922;
	--color-3-soft: #a685c522;
	--color-4-soft: #e8b6bd22;
	--color-5-soft: #3e458922;
	--color-6-soft: #b1d5ff44;
	--color-7-soft: #e0ada144;
	--color-8-soft: #78bab844;
	--color-9-soft: #2c3a6444;
}

:root {
	color-scheme: light;
	--bg-primary: #ffffff;
	--bg-secondary: #f3f3f3;
	--text-primary: #272848;
	--text-secondary: #ffffff;
	--accent-primary: #0249fe;
	--accent-secondary: #2966ff;
	--divider-primary: #dfe0ea; /* #dfe0ea; #d6dce9; */
	--label-primary: #79848f;
	--accent-primary-alpha: #0249fe11;
	--logo: url('@/assets/images/auth-logo.png');
	--icon-primary: #6e7477;
}

/* color mode from browser setting */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--bg-primary: #1e2128;
		--bg-secondary: #1c1d22;
		--text-primary: #ebebec;
		--text-secondary: #eeeeee;
		--accent-primary: #0249fe;
		--accent-secondary: #2966ff;
		--divider-primary: #303038;
		--label-primary: #6e7477; /* #34343a; */
		--accent-primary-alpha: #0249fe11;
		--logo: url('@/assets/images/auth-logo-dark.png');
		--icon-primary: #6e7477;
	}
}

/* color mode from html tag attribute */
[color-scheme='light'] {
	color-scheme: light;
	--bg-primary: #ffffff;
	--bg-secondary: #f3f3f3;
	--text-primary: #06060a;
	--text-secondary: #ffffff;
	--accent-primary: #0249fe;
	--accent-secondary: #2966ff;
	--divider-primary: #e1e6ef;
	--label-primary: #79848f;
	--accent-primary-alpha: #0249fe11;
	--logo: url('@/assets/images/auth-logo.png');
	--icon-primary: #6e7477;
}

[color-scheme='dark'] {
	color-scheme: dark;
	--bg-primary: #1e2128;
	--bg-secondary: #1c1d22;
	--text-primary: #ebebec;
	--text-secondary: #eeeeee;
	--accent-primary: #0249fe;
	--accent-secondary: #2966ff;
	--divider-primary: #303038;
	--label-primary: #6e7477; /* #34343a; */
	--accent-primary-alpha: #0249fe11;
	--logo: url('@/assets/images/auth-logo-dark.png');
	--icon-primary: #6e7477;
}

html {
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: var(--bg-primary);
	margin: 0;
	padding: 0px;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0px;
	overflow-y: scroll;
	color: var(--text-primary);
	background: var(--bg-primary);
	/* transition: color 0.5s, background-color 0.5s; */
	position: relative;
}

img,
svg {
	display: inline-block;
	max-width: 100%;
}

iframe {
	color-scheme: light !important;
}

* {
	box-sizing: border-box;
	outline: 0px none transparent;
	text-decoration: none;
}

::before,
::after {
	content: none;
}

::placeholder {
	color: var(--divider-primary);
	font-size: 1rem;
	font-weight: 500;
}

::selection {
	background: var(--accent-primary);
	color: #fff;
}

#app {
	float: left;
	width: 100%;
	position: relative;
	min-height: 100vh;
	padding: 0px;
	margin: 0px;
}

.scrollbar-thin {
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--accent-secondary) var(--bg-secondary);
}

.scrollbar-thin::-webkit-scrollbar {
	width: 8px;
	background: var(--bg-secondary);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
	background: var(--accent-secondary);
}
